#Flask==2.1.1
#pymongo==3.12.1
#torch==1.10.0
#transformers==4.9.2
#numpy==1.21.0
#Werkzeug==2.0.3
#scikit-learn==0.24.2





#
#Flask==2.0.3
#pymongo==3.12.1
#nltk==3.6.7
#scikit-learn==1.0.2
#openai==0.8.1
#python-telegram-bot==13.13



fastapi==0.98.0
uvicorn==0.22.0
pymongo==4.5.0
redis==4.6.0
openai==0.27.0
transformers==4.30.2
tensorflow==2.10.0
